<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" />
        <input type="submit" value="Upload" />
    </form>
    <div>
        <% for (let image of images) { %>
            <img src="<%= image %>"/>
        <% } %>
    </div>
</body>
</html>